<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Lorem Ipsum Generator</title>
  </head>
  <body class="container">
    <div class="Title text-center mb-3">
      <h1>{{ title }}</h1>
    </div>
    <div class="Text text-center mb-3">
      <h2>Number of paragraphs: {{ count }}</h2>
    </div>
    <div class="NumGenerator">
      <div class="slidecontainer">
        <input
          type="number"
          id="numParagraphs"
          [(ngModel)]="count"
          min="1"
          max="100"
          class="form-control"
        />
        <button
          type="button"
          class="btn btn-success mt-3"
          (click)="generate()"
        >
          Generate
        </button>
        <div class="Botton text-center mt-3">
          <button type="button" class="btn btn-success" (click)="generateRandom()">
            Generate Random (1-10)
          </button>
          <button type="button" class="btn btn-danger ml-3" (click)="clearCount()">
            Reset Number
          </button>
        </div>
        <div class="Botton text-center mt-3">
          <button type="button" class="btn btn-primary" (click)="copyToClipboard()">
            <i class="fas fa-copy"></i> Copy to Clipboard
          </button>
        </div>
      </div>
    </div>
    <div class="Botton text-center">
      <div class="card mt-5">
        <div class="card-header text-center"><h2>Result Here</h2></div>
        <div class="card-body">
          <p *ngFor="let paragraph of paragraphs">{{ paragraph }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
